/*body{
  background: #699 ;
  background-image: url(../../../assets/imagenes/foto.jpg) ;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
         background-size:100% 100%;
  }*/
  